<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FacebookAppId" value="1624902694479965"/>
    <add key="FacebookAppSecret" value="499c26d4d3067bb693d06c673a5c72d9"/>
    <add key="MailServer" value="dev-smtp.vidly.com"/>
  </appSettings>